body,html{
    overflow-x: hidden;
}
.header{
  height: 50px;
}
/*-------- navigation bar start --------*/
.navbar{
    background-color: #619d09;
margin-bottom: 10px;   
padding: 5px 50px 10px 50px;
}
.navlink ul li a{
    color:#474747;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.navlink ul li a:hover{
    color:#00ff00;
}
.active{
    color:#00ff00;
}
.nav-link{
font-size: 20px;
}

.navbar-toggler {
    width: 47px;
    height: 30px;
    /* background-color: #7eb444;
    border: none; */
   
}

.navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: black;
    margin-bottom: 5px;
}

/*-------- navigation bar end --------*/

/*-------- carousal start --------*/
header .carousel-inner .item{
    height:100vh;
}
.carousel-caption{
    bottom: 50px;
}

@media only screen and (max-width: 768px) {
   .heading {
       font-size: 20px;
   }
   .pera-text {
       font-size: 10px;
   }
   .carousel-caption{
       bottom:0px;
   }
    .about-2 {
        bottom: 50px;
    }
    #our-services{
        padding: 3em 0;
    }
    .carousel{
        margin-top:50px;
    }
}
@media only screen and (max-width: 414px) {
    .heading{
        font-size: 15px;
    }
    .pera-text{
        font-size: 9px;
    }
    .carousel-caption{
        bottom:0px;
}
 .about-2{
     bottom: 50px;
 }
 .about img{
     width:fit-content;
 }
 .carousel{
     margin-top:50px;
 }
 }
/*-------- carousal End --------*/

/*-------- about start --------*/
.about{
    top: 20px;
    margin-top:30px;
    /* background-image: url(./img/bg/bg1.jpg);
    background-repeat: no-repeat; */
    background-color: #6F51C7;
    margin-right:10px;
  }
  .about-2{
  padding-top:150px;
}
  
  .about_text{
    color:#6ab43e;
    font-size:52px;
  }
  .about{
      font-size: 22px;
      color: rgba(255, 255, 255, 0.7) !important;
  }
  .about img{
      max-width:100%;
  }

/*-------- about end --------*/


/*-------- Services Start --------*/

.service-header {
    color: #55a513;
    position: relative;
    margin: 20px;
    padding: 10px;
    padding-left:60px;
    margin-top:25px;
    margin-bottom:30px;
}
.service-header p{
    color:#888888;
}
.service-header:before {
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: 0;
    border-bottom: 2px solid #2057a3;
}
.services {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.services h3 {
    font-size: 20px;
    position: relative;
}

.services .desc {
    padding-left: 50px;
}

.services .desc p {
    color: #888888;
}

#our-services {
    padding: 7em 0;
    clear: both;
}
.desc h3:before {
    content: "";
    position: absolute;
    width: 10%;
    height: 2px;
    bottom: 0;
    border-bottom: 2px solid #55a513;
}
/*-------- Services end --------*/

.card{
    color:black;
}
.card-body h5{
    text-align:center;
}